/*Personnalisation générale*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Garamond";
    color: white;
}


/*Section 1*/

#demo{
    color: red;
}


.coin{
    min-height: 5vh;
    width:100%;
    background-color: black;
}

#sect1{
    background-image: url("assets/src/univers.jpg");
    position: relative;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75px;
}


#sect1::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 95px;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, black 100%);
} /*Ombres intersection*/


.text1{
color: white;
font-size: 25px;
min-height: 30%;
width: 70%;
border: solid 2px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 100px;
animation: titreslide 2s ease-in-out forwards;
opacity: 0
}

.imgtxt1{
    border: solid 2px white;
    min-height: 30%;
    width: 70%;
    display: flex;
    gap: 20px;
    padding: 20px;
}

.einstein{
    min-height: 40vh;
    width: 20%;
    border: solid 2px white;
    background-image: url(assets/src/Albert_Einstein_sticks_his_tongue.jpg);
    background-size: cover;
    opacity: 0;
}

.description{
    border: solid 2px white;
    min-height: 30%;
    width: 70%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    opacity: 0;
}

/*Section 2*/

#sect2{
    background-color:black;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.object{
    min-height: 50vh;
    border: solid 2px white;
    width: 80vw;
    border-radius: 10px;
}

.titre2{
    color: white;
    font-family: 'Permanent Marker';
    font-size: 25px;
    border-bottom: solid 2px white;
    text-align: center;
    padding: 2px;
    }


.txt2{
    font-size: 25px;
    color: white;
    padding: 20px;
    font-family: 'Permanent Marker';
}

/*SECTION 3*/

#sect3{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(assets/src/Bsect2.jpg);
    background-size: cover;
    position: relative;
}

#sect3::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 95px;
    background: linear-gradient(to top, rgba(0,0,0,0) 0%, black 100%);
}

#sect3 h1{
position: relative;
top: 90px;   
}

.titrequizz{
    font-size: xx-large;
    font-family: 'Permanent Marker';
}

.quizz{
    
    min-height: 75vh;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 10px;
    
}



.test1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 30%;
}

.test2{
    height: 30%;
    width: 100%;
    display: flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.drop1, .drop2, .drop3, .drop4, .drop5, .drop6, .drop7, .drop8 {
    height: 75%;
    width: 10%;
    border: solid 2px white;
    border-radius: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.planet1, .planet2, .planet3, .planet4, .planet5, .planet6, .planet7, .planet8{
    height: 75%;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.q1, .q2, .q3, .q4, .q5, .q6, .q7, .q8{
    border: solid 2px white;
    height: 18%;
    width: 10%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*SECTION 4*/

#sect4{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(assets/src/eclipse-totale-soleil-1919.jpg);
    background-size: cover;
    position: relative;
}

#sect4::after {
    content: "";
    position: absolute;
    top: -13%;
    width: 100%;
    height: 95px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, black 100%);
}

.txtsect4{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.one, .two, .three{
    border: solid 3px white;
    width: 21%;
    height: 70vh;
}

.one{
    background-image: url(assets/src/stellaire.jpg);
    background-size: cover;
    background-position: center;
    border: solid 3px white;
    width: 21%;
    height: 70vh;
}

.two{
    background-image: url(assets/src/intermediaire.jpg);
    background-size: 130vh;
    background-position: -50vh;
    background-repeat: no-repeat;
    
}

.three{
    background-image: url(assets/src/supermassif.jpg);
    background-size: cover;
    background-position: center;
}

/*SECTION 5*/

#sect5{
    min-height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

#sect5::after {
    content: "";
    position: absolute;
    top: -13%;
    width: 100%;
    height: 95px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%);
}


.titretxt1{
    height: 70vh;
    width: 22%;
    border: solid 2px white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;
    filter: blur(12px)
}

.titretxt1 h1{
    padding: 20px;
}

.titretxt1:hover{
    scale: 1.05;
}

.carre1{
    width: 100%;
    height: 50vh;
    background-image: url(assets/src/Venus.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-top: solid 2px white;
}


.rectangle1{
    border: solid 2px white;
    width: 20%;
    height: 80vh;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;

    filter: blur(12px);
    
}

.rectangle1 p{
    padding: 25px;
}

.rectangle1:hover{
    filter: blur(0px);
    
}

.titretxt2{
    height: 70vh;
    width: 22%;
    border: solid 2px white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;
    filter: blur(12px);
}

.titretxt2 h1{
    padding: 20px;
}

.titretxt2:hover{
    scale: 1.05;
}

.carre2{
    border-bottom: solid 2px white;
    width: 100%;
    height: 50vh;
    background-image: url(assets/src/Uranus.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 30px;
}

.rectangle2{
    border: solid 2px white;
    width: 20%;
    height: 80vh;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    filter: blur(12px);
}

.rectangle2 p{
    padding: 25px;
}

.rectangle2:hover{
    filter: blur(0px);
    
}

/*SECTION 6*/

#sect6{
    min-height: 250vh;
    width: 100%;
    background-image: url(assets/src/XVM60ccba6e-1b3f-11e9-b98a-b2c17120ca33.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between
}

.div6{
    height: 10%;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

.sonic1, .sonic2, .sonic3, .sonic4, .sonic5{
    height: 75px;
    width: 5vw;
    background-image: url(assets/src/starlight.webp);
    background-size: contain;
    background-repeat: no-repeat;
}



.outro{
    height: 10vh;
    width: 38%;
    display: flex;
    justify-content: center;
    align-items: center;

}

/*Animation keyframes*/

@keyframes titreslide{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}


